@model MVCFrameworkApp.Models.AboutModel

@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@Model.Greeting</h3>
    <p>@Model.Message</p>
</main>